.menu-flex {
    display: flex;
}

.title {
    text-align: center;
    font: bolder;
    font-feature-settings: "aalt";
    font-size: larger;
    color: black;
    padding: 50px;
    background-color: cyan;
}

.text {
    position: relative;
    margin: 20px;
    width: 100%;
}

.menu-flex {
    padding: 50px;
}

.caption {
    font-style: italic;
    text-align: center;
}

.label1 {
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.options {
    display: none;
}

#summary {
    text-align: center;
    color: red;
}

.card-footer {
    text-align: left;
    font: bolder;
    font-size: 20px;
    background-color: teal;
}

.h2 {
    color: darkblue;
    font-size: 10px;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.orders {
    background-image: url("../pizzas/download\(7\).jpeg");
}

.contact {
    color: whitesmoke;
}

.mobile {
    margin: 0%;
    padding: 0%;
}

.fant {
    text-align: center;
}

.bottom {
    text-align: center;
}

.click-me,
button[type=submit],
.deliver,
.dondeliver {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: ruby-base-container;
    letter-spacing: 2px;
    background-color: red;
    outline: none;
    padding: 12.5px 13px;
    border: none;
    border-radius: 50px;
    font: size 5%;
}

.custom {
    color: blue;
}

.h2 {
    font-size: small;
    font-family: fantasy;
}